@import "../../utilities/utility-classes.scss";

.WorkInProgress {
  @include Flex(center, center, row);
  margin: 0 auto;
  background-image: url("../../assets/images/Scene.png");
  background-repeat: no-repeat;
  height: 100vh;

  @media (min-width: 1800px) {
    max-width: 70vw;
    margin: 0 auto;
  }

  @media (max-width: 1024px) {
    width: 100%;
  }
  h1 {
    font-size: 5rem;
    color: $white;
    text-align: center;
  }
}
